@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=BBH+Sans+Bartle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  transition: all 0.3s ease-in-out;
}

:root{
  --body_background : #021233;
  --body_color : navajowhite;
  --heading_color: navajowhite;
}

html {
  scroll-behavior: smooth;
}

[data-theme="light"]{
  --body_background : white;
  --body_color : #021233;
  --heading_color: #021233;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
}

.align_center{
  display: flex;
  align-items: center;
}