@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=BBH+Sans+Bartle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   font-family: "Asimovian", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: darkblue;
  color: white;
}

.align_center{
  display: flex;
  align-items: center;
}